<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       https://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>
    <context:property-placeholder location="classpath:application.properties"/>
    <!--Balise permettant d'indiquer à partir d'ou le scan démarre sans cette balise l'appli ne marche pas-->

    <!--Ne jamais scanner, context:component-scan base-package="com.udemy", scanner les packages par couche enfant du projet comme ci dessous-->
    <context:component-scan base-package="com.udemy.controller.web" />
    <context:component-scan base-package="com.udemy.repository.database" />
    <context:component-scan base-package="com.udemy.service.prefix" />

    <!--
    <bean class="com.udemy.controller.web.InvoiceControllerWeb" />
    <bean class="com.udemy.service.prefix.InvoiceServicePrefix" />
    <bean class="com.udemy.repository.database.InvoiceRepositoryDatabase"/>
    -->
</beans>