<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       https://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>
    <!--Ligne ci dessous fait le lien entre le fichier de propriété et les annotations @Value-->
    <context:property-placeholder location="classpath:application.properties"/>

    <!--Le bean controleur contient un @Autowired sur l'attribut service-->
    <bean class="com.udemy.controller.InvoiceControllerWeb" />

    <!--Injection d'un service dans le controleur-->
    <bean class="com.udemy.service.InvoiceServicePrefix" />

    <!--Les beans sont injectés si ils sont déclarés dans ce fichier, il suffit de changer déclaration de beans pour changer une injection de dépendance-->
    <!--On peut changer ci dessous InvoiceRepositoryDatabase par InvoiceRepositoryMemory pour comprendre-->
    <bean class="com.udemy.repository.InvoiceRepositoryDatabase"/>
</beans>