<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gestion des factures</title>
</head>
<body>
<h1>Bienvenue dans la page de gestion des factures</h1>
<h2>Actions disponibles : </h2>
<ul>
    <li><a>Ajout de facture</a></li>
</ul>
<table style="border: 1px solid black">
    <tr th:each="invoice: ${invoices}">
        <td>
            <!--Convention des urls en thymeleaf -> @{ENTITE_CIBLEE}/variable_model-->
            <a th:href="${invoice.number}" th:text="${invoice.number}"></a>
        </td>
        <td th:text="${invoice.customerName}"></td>
    </tr>
</table>
<span th:text="${#locale.country}"></span>
</body>
</html>